<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263924192323-h7cqfodtciescg3sfhpd6pc5eg6bad58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263924192323-h7cqfodtciescg3sfhpd6pc5eg6bad58</string>
	<key>API_KEY</key>
	<string>AIzaSyDWu5Lmu4E32VPq57eVGfw2n12AGT8D2wI</string>
	<key>GCM_SENDER_ID</key>
	<string>263924192323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-305.odango</string>
	<key>PROJECT_ID</key>
	<string>cook-joy</string>
	<key>STORAGE_BUCKET</key>
	<string>cook-joy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263924192323:ios:9268b133df84d0a357b0f6</string>
</dict>
</plist>